body {
    font: 300 18px / 1.6em "Muli", Arial, sans-serif;
    color: #949494;
    /* font-family: "Muli";
    font-weight: 300;
    font-size: 18px;
    line-height: 30px; */
}


/* Links */
a {
    color: #949494;
    text-decoration: none;
}

a:hover {
    opacity: 0.6;
}


/* Images automatyczne dopasowanie obrazka do szerokości ekranu */
img {
    max-width: 100%;
    height: auto;
}

/* Buttons */
.btn  {
    padding: 14px 55px;
    color: #a70083;
    background-color: #fff;
    font-weight: 500;
    font-size: 22px;
    line-height: 2.6em;     /* to ok 48px */
}

.btn-follow {
    background-image: radial-gradient(circle at 10px, #49007c, #a70083);
    color: #fff;
    border-radius: 40px;
}

/* Grid pojemnik z logo i menu*/
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}


/* Page Header */
.page-header {
    padding: 25px 0;
    /* border-bottom: 1px solid #a70083; */
    /* background-color: url(); */
}


.page-header > .container { /* bezpośrednie dziecko/ element, który jest w page-header i ma klasę container, wszystko co jest w środku wyświetlamy flexem */
    display: flex;
    justify-content: space-between; /* wyrównanie w poziomie */
    align-items: center; 
}


.brand, .brand img { /* wycentrowanie logotypu w pionie */
    display: block;
}


/* Menu */
.menu-elements {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-elements li {
    margin: 0 4px; /* odstęp między elementami menu */
    display: inline-block; /* każdy element li wyświetlamy w linii */
}


.menu-elements li a {
    padding: 10px 18px;
    display: inline-block; /* aby paddingi zostały poprawnie zinterpretowane */
    color: #000000;
    font-size: 18px;
    line-height: 1.1em;
    font-weight: 300;
}


.menu-elements .active {
    border-radius: 30px;
    border: 1px solid #a70083;
}


.menu-elements .active:hover {
    color: #a70083;   
}

.fa-facebook-f {
    color: #949494;
    margin: 0;
}


/* Page section */

/* Section header */
.section-header {
    text-align: center;
    margin-top: 100px;
}


.section-header h2 {
    color: #000000;
    font-size: 34px;
    /* line-height: 1.2em; */
    font-weight: 700;
    margin: 0;
}

.section-header p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}


/* Intro btn */
.intro-btn {
    text-align: center;
    margin-top: 70px;
}
