html {
    font: 300 18px / 1.6em "Muli", Arial, sans-serif;
    color: #949494;
    /* font-family: "Muli";
    font-weight: 300;
    font-size: 18px;
    line-height: 30px; */
}


/* Links */
a {
    color: #949494;
    text-decoration: none;
}

a:hover {
    opacity: 0.6;
}


/* Images automatyczne dopasowanie obrazka do szerokości ekranu */
img {
    max-width: 100%;
    height: auto;
}


/* Buttons */
.btn {
    padding: 10px 40px;
    background-image: radial-gradient(circle at 10px, #49007c, #a70083);
    color: #fff;
    font-weight: 150;
    line-height: 1em;     /* to ok 48px */
    border-radius: 40px;
}



/* Grid pojemnik z logo i menu*/
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}


/* Main section */

.main-section {
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 650px;
    width: 100%;
}

/* Page Header */
.page-header {
    padding: 25px 0;
    /* border-bottom: 1px solid #a70083; */
}


.page-header > .container { /* bezpośrednie dziecko/ element, który jest w page-header i ma klasę container, wszystko co jest w środku wyświetlamy flexem */
    display: flex;
    justify-content: space-between; /* wyrównanie w poziomie */
    align-items: center; 
}


.brand, .brand img { /* wycentrowanie logotypu w pionie */
    display: block;
}


/* Menu */
.menu-elements {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-elements li {
    margin: 0 4px; /* odstęp między elementami menu */
    display: inline-block; /* każdy element li wyświetlamy w linii */
}


.menu-elements li a {
    padding: 10px 18px;
    display: inline-block; /* aby paddingi zostały poprawnie zinterpretowane */
    color: #000000;
    font-size: 18px;
    line-height: 1.1em;
    font-weight: 300;
}


.menu-elements .active {
    border-radius: 30px;
    border: 1px solid #a70083;
}


.menu-elements .active:hover {
    color: #a70083;   
}

.fa-facebook-f {
    color: #949494;
    margin: 0;
}


/* Page section */

/* Section header */
.section-header {
    text-align: center;
    margin-top: 60px;
}


.section-header h2 {
    color: #000000;
    font-size: 34px;
    /* line-height: 1.2em; */
    font-weight: 700;
    margin: 0;
}

.section-header p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}


/* Intro btn */
.intro-btn {
    text-align: center;
    margin-top: 50px;
    background: none;
}

/* Intro scroll */
.intro-scroll {
    text-align: center;
    margin-top: 150px;
}

.mouse-scroll {
    width: 50px;
}

.intro-scroll p {
    color: #fff;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}




/* Section code design */
.code-design {
    background-image: url(../img/code-design.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 100%;
}

.container-design {
    color: white;
    height: 350px;
    max-width: 1170px;
    width: 100%;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 auto;
}

.feature-box {
    flex-basis: 40%;
}

.container-design span {
    font-weight: 10;
}

.container-design p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 20px;
}


/* Design btn */
.btn-ask {
    font-size: 14px;
}


/* Section What We Do */
.section-what-we-do {
    height: 550px;
    width: 100%;
    position: absolute;
}


/* section WWD h3 */
.header-WWD h3 {
    color: #000000;
    font-size: 34px;
    /* line-height: 1.2em; */
    font-weight: 700;
    margin: 80px auto 60px;
    text-align: center;
}


.WWD-box h4 {
    color: #000000;
    padding: 0;
    margin: 0;
}



/* container WWD */
.section-what-we-do {
    height: 350px;
    background-color: white;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-bottom: 300px;
}

.container-WWD {
    max-width: 1170px;
    width: 100%;
    /* height: 450px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    margin: 0px auto;
}

.WWD-box {
    flex-basis: 50%;
    display: flex;
    padding-bottom: 80px;
}


.WWD-box p {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 20px;
    padding: 0;
    margin: 0;
    width: 320px;
}

.WWD-box img {
    margin-right: 35px;
    max-width: 160px;
    width: 100%;
    height: 100%;
}



/* WWD btn */
.WWD-btn {
    text-align: center;
    margin: 0px auto 50px auto;
    background: none;
}





/* Section Portfolio */
.portfolio {
    height: 200px;
    position: relative;
}


.container-portfolio {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin: 0px auto;
}


.portfolio-box {
    flex-basis: 33.3%;
    display: flex;
}








